h1 {
    color: #eee;
    font-size: 100px;
    margin: 0;
    position: fixed;
    top: 25vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    z-index: 1;
    white-space: nowrap;
    text-shadow: 0 1px 6px #000;
    font-family: 'Sue Ellen Francisco', cursive;
}


h3 {
  color: #eee;
  font-size: 40px;
  margin: 0;
  position: fixed;
  top: 40vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  z-index: 1;
  white-space: nowrap;
  text-shadow: 0 1px 6px #000;
  font-family: 'Sue Ellen Francisco', cursive;

}
